body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background: url('https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExNmxzODNydTFvbmI4MTh1cGR0Z29ldzV1ZmRzbDRrNDdkd21hN2Q5cSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/eHQ5BsgBIBIGI/giphy.gif') no-repeat center center fixed;
    background-size: cover;
}

header {
    background: rgba(51, 51, 51, 0.8);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    border-bottom: 2px solid #fff;
}

header h1 {
    margin: 0;
    font-size: 3em;
}

header p {
    margin: 5px 0 0;
    font-size: 1.2em;
}

header a {
    color: #fff;
    text-decoration: none;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px;
}

.content-section {
    margin: 20px 0;
}

h2 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    font-size: 2em;
    display: flex;
    align-items: center;
}

h2 i {
    margin-right: 10px;
    color: green;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: rgba(228, 228, 228, 0.9);
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

ul li strong {
    color: #333;
    font-size: 1.2em;
}

ul li:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

a.resume-link {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

a.resume-link:hover {
    background-color: #555;
}
